.icheckbox_line-blue{
	white-space: nowrap;      /* CSS3 */   
	white-space: -moz-nowrap; /* Firefox */    
	white-space: -nowrap;     /* Opera <7 */   
	white-space: -o-nowrap;   /* Opera 7 */    
	word-wrap: break-word;    /* IE */
}

.collapse{
	margin-bottom: 20px;
}

#anos{
	display:none;
}
#rango{
	display:none;
}