/* Style de reporte */

.noUi-handle .noUi-tooltip {
	top: -75px;
	left: -42px;
	width: 120px;
}

#info_resumen{
	font-size: 24px;
	min-height: 500px;
}

#info_resumen .numero{
	font-weight: bold;
	width: 95px;
	float: left;
	text-align: right;
	margin-right: 10px;	
}

#comportamiento{
	margin-top: 15px;
}

#comportamientoGeneral{
	margin-top: 15px;
}