.tabla-inventario .cont_input{
	padding: 0;
}

.tabla-inventario input{
	background: none;
	border: none;
	width: 185px;
	height: 36px;
	font-size: 20px;
	text-align: right;
}
hr{
	border-color: #000;
}
#upload_link{
text-decoration:none;
}
#upload{
display:none;
}
#upload_link i{
  display:none;
}
